#mapCanvas,#mapCanvas2 {
    height: 470px;
    text-align:center;
}

#infoPanel, #infoPanel2 {
    float: left;
    margin-left: 10px;
}

    #infoPanel div, #infoPanel2 div {
        margin-bottom: 5px;
    }


